body {
  font-family: "Libre Baskerville", Arial, serif;
  /* text-align: center; */
  line-height: 1.4em;
}
article {
  max-width: 700px;
  margin: 0 auto;
}

h1 {
  color: navy;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h2 {
  color: olive;
  font-family: monospace;
}

img {
  border-radius: 30%;
}

.box {
  border: 10px solid black;
  background: teal;
  color: aliceblue;
  margin: 5px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
